// Je définis des variables de couleur

$primary-color: #2C6298;
$secondary-color: #FCBC28;
$light-text: #707070;
$dark-text: #000000;
$background-color: #F4F4F4;
$header-background: #FFFFFF;
$size-input-campaign: 90%;
$background-color-paragraph: #DEDADA;
$calendar-current-color: #b1fc69;
$calendar-past-color: #FFC100;
$calendar-programmed-color: #63BCFA;
$error-text: #A90000;
$calendar-size-small: 600px;
$calendar-size-medium: 700px;
$calendar-size-big: 1000px;
$success-color: #1e7a11;

$color-white-text: #fff;